@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {}

.head {
    text-align: center;
    color: #183b56;
    font-family: "Bree Serif";
}

.para {
    text-align: center;
    color: #183b56;
    font-family: "Bree Serif";
}

.jason {
    margin: 5px;
}

.atc-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 120vh;
    background-size: cover;
}

.atc-card-container {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
}

.atc-heading-container {
    color: #5752ab;
    font-family: "bree Serif";
    font-size: 25px;
}

.atc-para-container {
    font-family: "Roboto";
    color: #323f4b;
}

.atc-button1 {
    height: 36px;
    width: 138px;
    border-radius: 10px;
    border-width: 0px;
    color: #5752ab;
    border: 0.5px solid blue;
    background-color: #ffffff;
    font-weight: bold;
    margin: 10px;
}

.atc-button2 {
    height: 36px;
    width: 138px;
    border-radius: 10px;
    border-width: 0px;
    color: #ffffff;
    background-color: #5752ab;
}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}

.fo-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    background-size: cover;
}

.fo-tourism-card {
    background-color: #f6c56e;
    padding: 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-weight: 600;
    color: #323f4b;
}

.fo-main-heading {
    font-family: "bree serif";

}

.fo-paragraph {
    font-family: "Roboto";
}

.fo-button {
    height: 36px;
    width: 138px;
    background-color: #ffffff;
    color: blue;
    border-radius: 8px;
    border-width: 0px;
    font-weight: 600;

}

.nw-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 100vh;
    background-size: cover;
}

.nw-card-container {
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 40vh;
    padding: 10px;
}

.nw-card-heading1 {
    font-size: 15px;
    font-family: "Roboto";

}

.nw-card-heading2 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;

}

.nw-card-paragraph {
    font-size: 13px;

}
