@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.atc-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;
}

.atc-card-container {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
}

.atc-heading-container {
    color: #5752ab;
    font-family: "bree Serif";
    font-size: 25px;
}

.atc-para-container {
    font-family: "Roboto";
    color: #323f4b;
}

.atc-button1 {
    height: 36px;
    width: 138px;
    border-radius: 10px;
    border-width: 0px;
    color: #5752ab;
    border: 0.5px solid blue;
    background-color: #ffffff;
    font-weight: bold;
    margin: 10px;
}

.atc-button2 {
    height: 36px;
    width: 138px;
    border-radius: 10px;
    border-width: 0px;
    color: #ffffff;
    background-color: #5752ab;
}
