@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.vr-kit-section {
    background-color: #f9fbfe;
}

.vrKit-card {
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

.image-style {
    height: 280px;
}

.vr-kit-description {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.vr-kit-title {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}
