@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.Features-section-heading {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 700;
    margin-left: 10px;
}

.feature-card {
    text-align: center;
    background-color: white;
}

.feature-card-image {
    width: 57px;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.feature-card-title {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.feature-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}
