@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/hotelbg.png");
    height: 120vh;
    background-size: cover;
}

.tourism-card {
    background-color: #000000e6;
    padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    margin: 15px;
}

.main-heading {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.paragraph {
    font-family: "Roboto";
}

.button {
    height: 36px;
    width: 138px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border-width: 0px;
    margin: 20px;
}

.paragraph {}
