@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.card {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/todolistbg.png");
    height: 150vh;
    background-size: cover;
}

.button {
    height: 36px;
    width: 145px;
    background-color: orange;
    color: white;
}

.h1 {
    text-align: center;
    color: white;
    font-family: Roboto;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.p2 {
    color: white;
    font-family: Roboto;
    font-size: 15px;
}

.h2 {
    font-size: 20px;
}

.b2 {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.h3 {
    font-size: 45px;
}
